@media (max-width: 1200px) {
}

@media (max-width: 998px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 16px;
  }

  .button {
    max-width: 130px;
    max-height: 60px;
    width: 100%;
    height: 100%;
  }

  .button a {
    font-size: 14px;
  }

  .logo img {
    width: 40px;
  }

  .nav__list {
    gap: 30px;
  }

  /* --------------- ABOUT --------------- */
  .about__description {
    font-size: 14px;
    max-width: 300px;
  }

  .about__image img {
    max-width: 400px;
  }
  /* --------------- GALLERY --------------- */
  .gallery__grid {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 20px;
  }
  .gallery__grid :nth-child(2) {
    grid-area: auto;
  }
}

@media (max-width: 768px) {
  .overlay.active {
    background: rgba(0, 0, 0, 0.5);
  }

  /* --------------- HEADER --------------- */
  .preview {
    background: url("../images/preview-small.png") no-repeat center / cover;
    background-attachment: fixed;
  }

  .nav__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
  }

  .nav__content.active {
    transition: all 0.5s;
  }

  .nav__content.active .nav__links {
    max-height: max-content;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s;
    pointer-events: auto;
  }

  .logo__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    max-height: 100%;
  }

  .burger {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .burger.active::before {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.5s;
  }

  .burger.active span {
    opacity: 0;
    transition: all 0.5s;
  }

  .burger.active::after {
    transform: translateY(-6px) rotate(-45deg);
    transition: all 0.5s;
  }

  .burger span {
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg, #93ebdd 0%, #a4ccd2 100%);
    border-radius: 10px;
    transition: all 0.5s;
  }

  .burger::before,
  .burger::after {
    transition: all 0.5s;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: linear-gradient(180deg, #93ebdd 0%, #a4ccd2 100%);
  }

  .burger::before {
    top: 6px;
  }

  .burger::after {
    top: 22px;
  }

  .nav__links {
    margin-top: 30px;
    flex-direction: column;
    opacity: 0;
    max-height: 0;
    transform: translateY(-16px);
    pointer-events: none;
    transition: max-height 0.45s cubic-bezier(0.2, 0.9, 0.2, 1), opacity 0.28s,
      transform 0.28s;
  }

  .nav__tel {
    display: none;
  }

  .nav__links .nav__tel {
    display: inline-block;
  }

  .nav__list {
    flex-direction: column;
    margin-bottom: 30px;
  }

  /* --------------- PREVIEW --------------- */

  .preview__content h1 {
    font-size: 60px;
  }

  .preview__content h3 {
    font-size: 20px;
    padding: 15px 0;
  }

  /* --------------- ABOUT --------------- */
  .about__content {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* --------------- GALLERY --------------- */
  .gallery__grid {
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
    max-height: max-content;
    align-items: center;
  }
  .gallery__grid :first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

@media (max-width: 576px) {
  /* --------------- PREVIEW --------------- */
  .preview__content h1 {
    font-size: 40px;
  }

  .preview__content h3 {
    font-size: 16px;
    padding: 15px 0;
  }

  /* --------------- ABOUT --------------- */
  .about__image img {
    max-width: 300px;
  }
  /* --------------- GALLERY --------------- */
  .gallery__content h2 {
    text-align: center;
  }

  .gallery__grid {
    grid-template: 1fr / 1fr;
    justify-items: center;
  }

  .gallery__grid img {
    max-width: 255px;
    max-height: 255px;
  }
}

@media (max-width: 320px) {
}
